*.iml
.gradle
/local.properties
.idea*
/.idea
gradlew
gradlew.bat
.DS_Store
/build
/captures
.externalNativeBuild
*apk
*.ap_
*.aab
*build
.local.properties
*.dex
*.class
bin/
gen/
out/
release/
*.log
.navigation/
vcs.xml
*~
build/
gradle
gradle.properties
local.properties

